.Launch-Main{
    
    
    padding-right: 10%;
    padding-left: 10%;
    list-style: none;
}
.Launch-link{

text-decoration: none;
color: rgb(29, 8, 12);


}
.Launch-link:hover{
    color: rgb(224, 15, 15);
    font-size: larger;

}
